*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
log
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
reports

# YARD artifacts
.yardoc
_yardoc
.bin

# Editor files
*.sublime*
*.swp
.idea

*.sqlite
Gemfile.lock

bethtest/
bin/
coverage
db/test/backwards_compatibility/pids
db/test/backwards_compatibility/pact_broker_database.sqlite3