*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
log
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
reports

# YARD artifacts
.yardoc
_yardoc
doc/
.bin

# Editor files
*.sublime*
*.swp
.idea

*.sqlite
Gemfile.lock
