%link{rel: 'stylesheet', href: '/stylesheets/index.css'}
%link{rel: 'stylesheet', href: '/stylesheets/material-menu.css'}
%link{rel: 'stylesheet', href: '/stylesheets/material-icon.css'}
%link{rel: 'stylesheet', href: '/stylesheets/jquery-confirm.min.css'}
%script{type: 'text/javascript', src:'/javascripts/jquery.tablesorter.min.js'}
%script{type: 'text/javascript', src:'/javascripts/material-menu.js'}
%script{type: 'text/javascript', src:'/javascripts/index.js'}
%script{type: 'text/javascript', src:'/javascripts/jquery-confirm.min.js'}
