%nav.navbase-default{role: "navigation", id: "navigation"}
  .container-fluid
    .navbar-header
    %ul.navbar-right#top-left-menu
      %li
        - if tag_toggle
          %a{href: "#{base_url}?tags=true"}
            Show latest tags
        - else
          %a{href: "#{base_url}"}
            Hide latest tags

        %a{href: "#{base_url}/hal-browser/browser.html"}
          API Browser
