.table-striped>tbody>tr>td.pact, .table-striped>thead>tr>th.pact {
  border-left: none;
  border-right: none;
}

.table-striped>tbody>tr>td.consumer, .table-striped>thead>tr>th.consumer {
  border-right: none;
}

.table-striped>tbody>tr>td.provider, .table-striped>thead>tr>th.provider {
  border-left: none;
}

table#relationships {
  table-layout: fixed;
}

table#relationships td,
table#relationships th {
  text-align: left;
  vertical-align: middle
}

table#relationships th,
table#relationships td {
  border-right: none;
  border-left: none;
}

table#relationships td.pact {
  text-align: center;
}

.relationships-size {
  text-align: right;
  color: gray;
}

.relationships-sort {
  padding-left:10px;
  cursor: pointer;
}

.hack {
  padding-right: 20px;
}

body { padding-top: 10px; }

.consumer, .provider {
  text-align: center;
}

span.pact {
  display: inline-block;
}

span.pact svg {
  width: 20px !important;
  height: 20px !important;
  overflow: visible;
}

span.pact svg path {
  fill: #111111;
}

span.pact:hover svg path {
  fill: #2a6496;
}
