.input-group {
  display: inline-block;
  padding-right: 20px
}

input[type="radio"] {
  /*margin-right: 4px;*/
}

div.top-of-group {
  margin-top: 10px;
}

div.tag-parent {
  margin-top: 5px;
  margin-bottom: 1px;
}

div.tag {
  display: inline-block;
}

span.pre-verified-icon {
  color: #337ab7;
}

/* Need to make the tooltip wide enough to show the full SHA */
td.pact-published .tooltip-inner {
  max-width: 300px;
}
