:root {
  /* See public/javascripts/set-css-asset-base-url.js */
  --pact-kebab-url: url('/images/kebab-horizontal.svg');
}

div.pact-metadata {
  margin-top: 40px;
  float: right;
}

div.pact-metadata li {
  list-style-type: none ;
  text-align: right
}

div.pact-metadata span.name {
  font-weight: bold ;
}

pre {
  font-size: 1em
}

li.pact-badge {
  cursor: pointer;
}

li.pact-badge > img {
  cursor: pointer;
  height: 20px;
}

div.pact-badge-markdown {
  background-color: #f8f8f8
}

span.kebab-horizontal {
  background-image: var(--pact-kebab-url);
  background-repeat: no-repeat;
  display:block;
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

span.more-options {
  float: right;
}

/* same as .page-header */
h1 {
  padding-bottom: 2rem;
  margin: 40px 0 20px;
}

h3 {
  margin-top: 2rem;
}
