div.pact-metadata {
  float: right;
}

div.pact-metadata li {
  list-style-type: none ;
  text-align: right
}

div.pact-metadata span.name {
  font-weight: bold ;
}

pre {
  font-size: 1em
}

li.pact-badge {
  cursor: pointer;
}

li.pact-badge > img {
  cursor: pointer;
  height: 20px;
}

div.pact-badge-markdown {
  background-color: #f8f8f8
}
