<!DOCTYPE html>
%html
  %head
    %title= defined?(title) ? title : ""
    %link{rel: 'shortcut icon', href: '/images/favicon.ico', type:'image/x-icon'}
    %link{rel: 'stylesheet', href: '/css/bootstrap.min.css'}
    %script{type: 'text/javascript', src:'/javascripts/jquery-3.3.1.min.js'}
    %script{type: 'text/javascript', src:'/js/bootstrap.min.js'}
  = yield
