default: &default
  database: pact_broker
  username: pact_broker
  password: pact_broker
  encoding: utf8

test:
  default:
    adapter: sqlite
    database: tmp/pact_broker_database_test.sqlite3
  postgres:
    <<: *default
    adapter: postgres
  docker_postgres:
    <<: *default
    adapter: postgres
    host: "127.0.0.1"
    port: "5433"
  docker_compose_postgres:
    <<: *default
    adapter: postgres
    host: postgres
    port: "5432"
  mysql:
    <<: *default
    adapter: mysql2

development:
  default:
    adapter: sqlite
    database: db/pact_broker_database.sqlite3
  postgres:
    <<: *default
    adapter: postgres
  docker_postgres:
    <<: *default
    adapter: postgres
    host: "127.0.0.1"
    port: "5433"
  mysql:
    <<: *default
    adapter: mysql2

production:
  default:
    <<: *default
    adapter: postgres