name: Release gem

on:
  push:
    tags:
      - release

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: pact-foundation/release-gem@v0.0.11
      env:
        GEM_HOST_API_KEY: '${{ secrets.RUBYGEMS_API_KEY }}'
        GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
    # - name: Trigger release of pact-cli Docker image
    #   uses: peter-evans/repository-dispatch@v1
    #   with:
    #     token: ${{ secrets.GHTOKENFORPACTCLIRELEASE }}
    #     repository: pact-foundation/pact-ruby-cli
    #     event-type: gem-released
