name: Reproduce issue

on:
  push:
    branches:
      - 'issue/**'
  pull_request:
    branches:
      - 'issue/**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  run:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: docker compose -f docker-compose-issue-repro.yml up --abort-on-container-exit --exit-code-from repro-issue
